In [19]:
# Generic Libraries being imported
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#Data Set Imported
from sklearn.datasets import fetch_california_housing

In [20]:
data=fetch_california_housing()

In [21]:
print(data.DESCR)

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

    :Number of Instances: 20640

    :Number of Attributes: 8 numeric, predictive attributes and the target

    :Attribute Information:
        - MedInc        median income in block
        - HouseAge      median house age in block
        - AveRooms      average number of rooms
        - AveBedrms     average number of bedrooms
        - Population    block population
        - AveOccup      average house occupancy
        - Latitude      house block latitude
        - Longitude     house block longitude

    :Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
http://lib.stat.cmu.edu/datasets/

The target variable is the median house value for California districts.

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. topic:: References

    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
      Statistics and Probability Letters, 33 (1997) 291-297

In [22]:
# Independent Data
df=pd.DataFrame(data=data.data,columns=data.feature_names)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [23]:
data.data.shape

(20640, 8)

In [24]:
# Dependent Variable
df['Target']=data.target
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

# Exploring Data

In [25]:
import sweetviz as sv
report=sv.analyze(df)
report.show_html("./report.html")

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=10.0), HTML(value='')), lâ€¦

Report ./report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

# Data Pre-Processing

In [68]:
#Feature Engineering
from geopy.geocoders import Nominatim
geolocator=Nominatim(user_agent='geoapiExercises')

In [69]:
geolocator.reverse("37.88"+" , "+"-122.23").raw['address']

{'leisure': 'Ecological Study Area',
 'road': 'Willow Trail',
 'city': 'Oakland',
 'county': 'Alameda County',
 'state': 'California',
 'postcode': '94720-1076',
 'country': 'United States',
 'country_code': 'us'}

In [70]:
def location(cord):
    Latitude=str(cord[0])
    Longitude=str(cord[1])
    
    #returns a dictionary
    location=geolocator.reverse(Latitude +" , "+Longitude).raw['address']
    
    if location.get('road') is None:
        location['road']=None
    
    if location.get('county') is None:
        location['county']=None
    loc_update['county'].append(location['county'])
    loc_update['road'].append(location['road'])

In [77]:
loc_update={"county":[],"road":[]}

for i, cord in enumerate(df.iloc[:,6:-1].values):
    location(cord)
    pickle.dump(loc_update, open('loc_update.pickle','wb'))
    if i%100==0:
        print(i)

0

In [78]:
import pickle
loc=pickle.load(open("./loc_update.pickle","rb"))
loc

{'county': ['Alameda County',
  'Alameda County',
  'Alameda County',
  'Alameda County',
  'Alameda County',
  'Alameda County',
  'Alameda County',
  'Alameda County',
  'Alameda County',
  'Alameda County'],
 'road': ['Lagunitas Avenue',
  'Lagunitas Avenue',
  'Lagunitas Avenue',
  'Lagunitas Avenue',
  'Grand Avenue',
  'Magnolia Avenue',
  'Longridge Road',
  'Lagunitas Avenue',
  'Magnolia Avenue',
  'Mariposa Avenue']}